{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container pb-10">
    <br>
    <div class="row ">
        <div class="col-lg-6">
            <div class="cnt-div">
                <h3 class="cnt-h3">PRENEZ CONTACT AVEC NOUS</h3>
                <p class="cnt-p  text-justify"> Chaque article que nous stockons est soigneusement sélectionné pour nous assurer que nous vous offrons des produits de qualité supérieure aux meilleurs prix garantis. Contactez-nous pour en savoir plus sur nos produits et services.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <form id="contcactForm" method="POST">
                {% csrf_token %}
                <h3>CONTACT</h3>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>votre nom</label>
                        <input type="text" name="name" class="form-control"  placeholder="Votre nom" required>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Votre e-mail</label>
                        <input type="email" name="email" class="form-control" placeholder="Votre e-mail" required>
                      </div>
                </div>
               <div class="col-lg-12">
                <div class="form-group">
                    <label>Sujet</label>
                    <input type="text" name="subject" class="form-control" placeholder="Sujet" required>
                  </div>
               </div>
               <div class="col-lg-12">
                <div class="form-group">
                    <label>Un message</label>
                    <textarea name="message" class="form-control" rows="6" required>
                    </textarea>
                  </div>
               </div>
               <div class="col-lg-6">
                   <button type="submit" class="btn btn-primary btn-submit">N'hésitez pas à nous joindre ! </button>
               </div>
              </form>
        </div>
    </div>
</div>

{% endblock %}